<h2><%= subreddit %></h2>

<div class="row text-center">
  <div class="d-grid gap-2 col-12 mx-auto">
    <%= for date <- dates do %>
      <a class="btn btn-outline-secondary btn-lg" href="/r/<%= subreddit %>/<%= date %>" role="button"><%= date %></a>
    <% end %>
  </div>
</div>
